*{
	margin: 0;
	padding: 0;
}
body {
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.71429;
  background-color: #fff;
  font-family: 'Open Sans', sans-serif;
  /* Enlaza la tipografia Open Sans */
}
/*Contenedor Flexbox*/
 a{
     padding: 10px 20px;
     color: black;
     font-size: 20px;
     border-radius: 10px;
     text-decoration: none;
 }
 a:hover{
 	color: #ed2251;
 }
.flex-container{
	display: flex;
}
.menu{
	background-color: white;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%; 
}
.menu.flex-container{
	justify-content: flex-start;

}

.logo-container{
	margin-left: auto;
	margin-right: 20px;

}
.flex-container .logo{
	width: 70px;
	height: 70px;

}
/*HOME*/
#home{
height: 600px;
margin-top: 70px;
background-image:url(../assets/images/bg-home.jpg);
background-position: center;
background-size: cover;
background-attachment: no-repeat;
background-repeat: no-repeat;
justify-content: center;
align-items: center;
text-align: center;
flex-direction: column;
color: whitesmoke;
}

.text-home{
font-size: 2.4em;
}
.btn-home{
background: #2ECC71;
color: #FFF;
padding: 11px 20px;
border-radius: 2px;
font-weight:500;
text-transform: uppercase;
margin-top: 63px;
display: inline-block;
font-size: 14px;
}

#services{
background-color: #f17c72;
text-align: center;
color: #fff;
padding: 70px;

}
#services.flex-container{
justify-content: space-around;
flex-wrap: wrap; 

}

.box-services{
	font-size: 1.2em;
	font-weight: bold;
}
.text-services{
font-size: 35px;
letter-spacing: 2px;

}
#work{
align-items:  center;
text-align: center;
margin-top: 60px;
/*padding: 70px;*/
}
.letra{
		padding: 70px;
}

.galeria{
  width: 90%;
  margin: auto;
  list-style: none;
  padding: flex;
  background-color: #1d191a;
  color: white;
  flex-wrap: wrap;
  justify-content: space-around;
  display: inline-block;
}
.galeria li{
width: 300px;
height: 320px;
margin-left: 50px;
justify-content: space-around;
float:left;
}
.icon-heart{
	font-size: 20px;
	color: #ed2251;
}
footer{
text-align: center;
height: 70px;
background: #373b47;
color: white;
padding-top: 7px;
}


